body {
    margin: auto;
    text-align: center;
    background-color: rgba(118, 108, 108, 0.439)
}

#title {
    padding-top: 10px;
    background-color: white;
    width: 50%;
    margin: auto;
    border-radius: 8px;
}

h1 {
    color: blue;
}

#number {
    font-size: 25px;
    width: 200px;
    display: block;
    margin: auto;
    text-align: center;
    border: 2px solid blue;
}

#convert-btn {
    background-color: gray;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#length {
    border-radius: 8px;
    background-color: blue;
    color: white;
    width: 50%;
    height: 80px;
    margin: auto;
}

#volume {
    border-radius: 8px;
    background-color: blue;
    color: white;
    width: 50%;
    height: 80px;
    margin: auto;
}

#mass {
    border-radius: 8px;
    background-color: blue;
    color: white;
    width: 50%;
    height: 80px;
    margin: auto;
}

p {
    color: white;
    font-size: 20px;
}
